@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roots */
:root {
    --fonts: 'Poppins', Arial, Helvetica, sans-serif;
    --nav-height: 56px;
    --full-screen-height: calc(100vh - 64px);
    --max-full-screen-height: 1200px;
    --default-transition: 250ms ease-out;

    /* Sizing */
    --container-max-height: 1200px;
    --container-max-width: 1600px;

    /* Color Pallete */

    --primary: #f8f8f8;
    --secondary: #ffffff;
    --transparency-black: #25252580;
}

/* Body */
body {
    font-family: var(--fonts);
    background: var(--primary);
    margin: 0;
    color: #252525;
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
}

/* Text Styles */
h1 {
    color: #fff;
    margin: 0;
}

span.tag {
    background-color: #00000075;
    color: #fff;
    border-radius: 8px;
    padding: 0 8px;
    font-size: .8rem;
    margin-left: 8px;
    padding-top: 1px;
}

/* Navigation */

    /* Nav Containers */
    nav {
        background: var(--transparency-black);

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;

        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);

        top: 16px;

        width: auto;

        height: var(--nav-height);
        padding: 0 12px 0 24px;

        border-radius: 120px;
        color: var(--default-white);
        border: 2px solid #ffffff50;

        z-index: 999;
        backdrop-filter: blur(16px) saturate(120%);
        -webkit-backdrop-filter: blur(16px) saturate(120%);
    }

    nav.blur {
        transition: all 400ms ease-out;
        -webkit-transition: all 400ms ease-out;
        opacity: 1;
    }

    nav.blur.active {
        margin-top: -16px;
        filter: blur(8px);
        -webkit-filter: blur(8px);
        opacity: 0;
     }

    nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }

    nav li {
        color: #fff;
        font-family: var(--fonts);
        font-weight: 500;
        list-style: none;

        border-radius: 16px;
        padding: 4px 12px;
        margin-right: 8px;

        transition: 400ms ease-out;
    }

    nav li:hover {
        cursor: pointer;
        background: #ffffff20;
    }


    /* Touch-Navigation Bar */
    .touch-nav-bar {
        display: none !important;
        position: fixed;
        bottom: 32px;
        right: 0;

        width: 64px;
        height: 64px;
        
        border: 2px solid #ffffff50;

        aspect-ratio: 1/1;

        padding: 8px;

        border-radius: 120px;
        background: var(--transparency-black);
        color: var(--default-white);
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        cursor: pointer;

        z-index: 1000;

        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);

        backdrop-filter: blur(16px) saturate(120%);
        -webkit-backdrop-filter: blur(16px) saturate(120%);
    }

    .touch-nav-bar img {
        width: 32px;
        height: 32px;
    }

    /* Menu */
    .menu-icon {
        width: 32px;
        height: 32px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-line {
        width: 32px;
        height: 2px;
        background-color: var(--default-white);
        border-radius: 2px;
        position: absolute;

        transition: var(--default-transition);
        -webkit-transition: var(--default-transition);
        -moz-transition: var(--default-transition);
    }

        /* Disabled Position */
        .menu-line.top {
            transform: translateY(-12px);
            -webkit-transform: translateY(-12px);
            -moz-transform: translateY(-12px);
        }

        .menu-line.bottom {
            transform: translateY(12px);
            -webkit-transform: translateY(12px);
            -moz-transform: translateY(12px);
        }

        /* Enabled Position */
        .m-enabled .menu-line.top {
            transform: translateY(0) rotate(45deg);
            -webkit-transform: translateY(0) rotate(45deg);
            -moz-transform: translateY(0) rotate(45deg);
        }

        .m-enabled .menu-line.center {
            opacity: 0;
        }

        .m-enabled .menu-line.bottom {
            transform: translateY(0) rotate(-45deg);
            -webkit-transform: translateY(0) rotate(-45deg);
            -moz-transform: translateY(0) rotate(-45deg);
        }


    /* On-Screen Navigation */
    .on-screen-nav {
        position: fixed;
        display: none;
        opacity: 0;

        left: 0;
        top: 0;

        background: var(--transparency-black);

        width: calc(100vw - 72px);
        height: 100%;

        padding: 96px 32px 0 32px;

        flex-direction: column;
        justify-content: flex-tart;
        align-items: flex-start;
        position: fixed;

        z-index: 999;
        backdrop-filter: blur(16px) saturate(120%);
        -webkit-backdrop-filter: blur(16px) saturate(120%);
        transition: 400ms ease-out;
        transition-property: opacity;

        touch-action: none;
        -ms-touch-action: none;
    }

    .on-screen-nav.active {
        display: flex;
        opacity: 100%;
        margin-left: 0;
    }

    .on-screen-nav li {
        background-color: transparent;
        color: #ffffff50;

        font-family: var(--fonts);
        font-weight: 500;
        font-size: 3rem;
        list-style: none;
        text-align: left;

        /* width: auto; */

        border-radius: 48px;
        padding: 4px 24px;
        margin-bottom: 8px;

        transition: 400ms ease-out;
        -webkit-transition: 400ms ease-out;

        opacity: 0;
        transform: scale(102%);
        -webkit-transform: scale(102%);
    }

        .on-screen-nav li.item-appear {
            opacity: 1;
            transform: scale(100%);
            -webkit-transform: scale(100%);
        }

        .on-screen-nav li.nav-li:hover {
            cursor: pointer;
            background: #ffffff20;
        }

        .on-screen-nav p {
            position: fixed;
            left: 32px;
            bottom: 32px;
        }
        

    /* OSN Text Styles */
    .on-screen-nav h6 {
        line-height: .8rem;
        font-size: .8rem;
        margin: 0;
    }
    
    .on-screen-nav p {
        position: fixed;
        bottom: 32px;
        color: #ffffff50;
        font-weight: 600;
        font-size: 0.8rem;
    }

    /* Stylesheet add-on */
    .on-screen-nav #swap-css {
        position: fixed;
        left: 32px;
        bottom: -32px;

        background: transparent !important;
        display: flexbox;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .on-screen-nav #swap-css div {
        background: transparent;
        width: auto;
        max-width: 100vw;

    }

    /* Nav Header */
    .nav-logo  {
        width: 32px;
        height: 32px;
        margin-top: 6px;
        margin-right: -24px;
    }

    nav .nav-header h1 {
        display: none;
    }

    /* Menu Button */
    .nav-menu {
        width: 24px;
        height: 24px;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .nav-menu img {
        width: 24px;
        height: 24px;
    }

    /* Nav Other */
    nav a, .on-screen-nav a.active_link {
        color: #ffffff;
        text-decoration: none;
    }

    .on-screen-nav a {
        color: #ffffff50;
        text-decoration: none;
    }

/* Header */
header {
    background-color: #fff;
    height: calc(90vh - 32px);
    padding: 32px 0;
    padding-top: 48px;
    max-height: 1200px;
    overflow-x: hidden;
    margin-left: -48px;
}

    /* Header Content */
    header .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--secondary);
        height: 100%;
    }

    header h1 {
        color: transparent;

        font-size: 20vw;
        padding-top: 64px;
        line-height: 10vw;
        z-index: 10001;
    }

    /* Cursor Cutout */
    .cutout-container {
        background-color: #f4f4f4;
        height: 100%;
        aspect-ratio: 40/22;
        overflow: hidden;
        position: relative;

        
        transform: translateX(50%);
        animation: 30s linear 0s infinite cutout-slide;
    }

    .cutout-img {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 100;

        background-color: transparent;

        border-right: 200% solid white;
        border-left: 200% solid #fff;

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
    }

    @keyframes cutout-slide {
        0% {
            background-color: #fff;
            transform: translateX(0%);
        }

        /* 1% {
            background-color: #fff;
        } */

        2% {
            background-color: #f4f4f4;
        }

        90% {
            background-color: #f4f4f4;
        }

        98% {
            background-color: #fff;
        }

        100% {
            background-color: #fff;
            transform: translateX(-50%);
        }
        
    }

    .header_cursor {
        border-radius: 100%;
        box-shadow: 0 0 32px 32px #aed8ff, 0 0 68px 68px #c6edff;
        background-color: #aed8ff;

        position: absolute;

        width: 25px;
        height: 25px;

        z-index: 80;
        transition: 200ms;
    }

/* Notifications */
.notifications, .css-container {
    display: block;
    position: fixed;
    bottom: 0;

    width: auto;
    margin-bottom: 32px;

    height: auto;
    z-index: 200;
}

.notifications {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    left: 50%;
    transform: translateX(-50%);
}

.notify-container {
    background: var(--transparency-black);
    color: var(--default-white);
    border: 2px solid #ffffff50;

    border-radius: 16px;
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(120%);

    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 12px 16px 12px 16px;
    width: auto;
    transition: 350ms ease-out;

    opacity: 0%;
    transform: translateY(16px);
    display: flex;
}

    .notify-container:hover {
        box-shadow: 0 0 16px #25252520;
        cursor: pointer;
    }

    .css-container .notify-container:hover {
        cursor: default;
    }

    .notify-container.active {
        opacity: 100%;
        transform: translateY(0px);
        /* display: flex; */
    }

    /* Notification Content */
    .notify-container img {
        aspect-ratio: 1/1;
        height: 24px;
        margin-right: 8px;
    }

    .notify-container h6, .notify-container p {
        color: #fff;
        margin: 0;
        line-height: 16px;
    }

    .notify-container p {
        font-size: 0.8rem;
        margin-top: -4px;
    }

/* Full-Screen Image */
.fs-container {
    border-top: solid 8px #f8f8f8;
    border-bottom: solid 8px #f8f8f8;
    
    width: calc(100vw - 96px - 16px);
    max-width: var(--container-max-width);

    padding: 48px 48px;
    background-color: var(--default-white);

    overflow-x: hidden;

    height: var(--full-screen-height);
    max-height: var(--container-max-height);
}

    /* Full-Screen Content */
    .fs-img img {
        position: absolute;
        
        height: calc(var(--full-screen-height) - 48px);
        max-height: var(--container-max-height);

        border-radius: 16px;

        object-fit: cover;
        object-position: center;
        transition: 600ms ease-out;

        width: calc(-64px + 100%);
        max-width: var(--container-max-width);
        
        left: 50%;
        transform: translateX(-50%);
    }

    .fs-details {
        width: calc(-48px + 100%);
        max-width: var(--container-max-width);

        color: #fff;

        position: absolute;

        height: calc(var(--full-screen-height) - 48px);
        max-height: var(--container-max-height);

        z-index: 5;
        opacity: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        transition: 600ms ease-out;
        left: 50%;
        transform: translateX(-50%) translateY(64px) scale(98%);
    }

    /* Transitions */
    .fs-container.active .fs-img img {
        filter: saturate(0%);
        /* transform: scale(105%); */
    }

    .fs-container.active .fs-details {
        transform: translateX(-50%) translateY(0) scale(100%);
        opacity: 100;
        /* text-shadow: 0 0 16px #25252550; */
    }

    /* Full Screen Text Styles */
    .fs-details h1 {
        font-size: 8rem;
        text-align: center;
        padding: 0 16px;
        letter-spacing: -10px;
        line-height: 7rem;
        margin-bottom: -16px;
        /* text-shadow: 0 0 8px 8px #000; */
    }

    .fs-details p {
        font-size: 32px;
    }

/* Notices */
.notice {
    margin-top: 64px;
}

/* Page Content */
main .content {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    /* Location / Map View */
    #Location ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
        padding-bottom: 16px;
        padding-top: 0px;
        padding-left: 0px;

        width: calc(100vw - 48px - 48px);
        max-width: var(--container-max-width);

        height: 80vh;
        max-height: var(--container-max-height);
        margin-bottom: 32px;
    }

    #Location li {
        list-style: none;
    }

    #Location iframe {
        width: 100%;
        height: 100%;
        border-radius: 16px;

        opacity: 0%;
        transform: translateY(32px) scale(98%);
        transition: 400ms ease-out;
    }

    #Location iframe.active {
        opacity: 100%;
        transform: translateY(0) scale(100%);
    }

    #Location .details {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: centere;
        flex-direction: column;
    }

    #Location .map {
        height: 100%;
        width: 100%;
    }

    .original-location {
        display: none;
    }


    /* Interests & Location */
    #Interests li.active {
        opacity: 1;
        transform: translateY(0) scale(100%);
    }

    #Interests ul {
        display: grid;
        grid: auto-flow / 1fr 1fr 1fr;
        gap: 16px;

        padding-bottom: 16px;
        padding-left: 0px;

        width: calc(100vw - 48px - 48px);
        max-width: var(--container-max-width);
    }

    #Interests ul li {

        background-color: var(--secondary);
        border-radius: 16px;
        margin-right: 16px;

        font-weight: 600;
        font-size: 0.8rem;

        /* padding: 8px; */
        text-align: center;
        list-style: none;
        
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* For Transitions */
        opacity: 0;
        transform: translateY(32px) scale(98%);
        transition: 400ms ease-out;
    }

    #Interests ul li span {
        margin-top: 16px;
        margin-bottom: 16px;
    } 

    #Interests ul li img {
        background-color: var(--default-white);
        border-radius: 16px 16px 0 0;
        border: 0 solid transparent;

        object-fit: cover;

        width: 100%;
        height: 100%;
    }

    #Interests ul li:hover {
        box-shadow: 0 0 8px 8px #25252510;
    }

    #Interests h3, #Location h3 {
        font-size: 1.5rem;
        margin: 0;
    }

    #Interests p, #Location p {
        margin-top: 0;
    }

/* Portfolio */
.portfolio-details {
    max-width: var(--container-max-width);
    
}

.original-portfolio-details {
    display: none;
}

/* CSS Changer */
.css-container {
    justify-content: space-around;
    z-index: 10000;
    margin-left: 16px;
    max-width: 250px;
}

.css-container p {
    margin-top: 0;
}

    /* Switch */
    .switch {
        z-index: 100000;
        display: inline-block;
        position: relative;
        width: 62px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;

        border-radius: 100%;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border-radius: 24px;
        background-color: #ccc;
        transition: 250ms;
    }

    .slider::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        top: 4px;
        border-radius: 100%;

        background-color: white;
        transition: 400ms;
    }

    .switch input:checked + .slider {
        background-color: #54a8ff;
    }

    .switch input:checked + .slider:before {
        transform: translateX(20px);
    }

/* Articles & Other Pages */

    /* Header */
    .small-header {
        padding: 0 32px;
        padding-top: 64px;

        width: calc(100% - 64px);
        height: 40vh;
        max-height: calc(var(--container-max-height)/2);

        color: #f4f4f4;
        background-color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        overflow: hidden;
    }

    .header-content {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;

        width: 100%;
        height: 100%;
        max-width: var(--container-max-width);
    }

    .small-header h1 {
        color: #fff;
        padding: 16px 24px 8px 16px;
        font-size: 12rem;
        line-height: 10rem;
        letter-spacing: -.6rem;
        margin-bottom: 8px;
        z-index: 2;
        background: #25252540;
        backdrop-filter: blur(16px) saturate(120%);
        -webkit-backdrop-filter: blur(16px) saturate(120%);
    }

    .small-header p {
        color: #e7e7e7;
        padding-left: 12px;
        margin-top: 0;
        z-index: 2;
    }

    .small-header p a {
        color: #c5c5c5;
        text-decoration: none;
        transition: var(--default-transition);
        border-bottom: solid 1px transparent;
    }

    .small-header p a:hover {
        border-color: #c5c5c5;
    }

    /* Navigation Videos */
    .header-video {
        position: absolute;
        object-fit: cover;
        left: 0;
        top: 0;
        z-index: 1;
        width: calc(100vw + 16px);
        height: calc(40vh + 64px);
        max-height: calc(var(--container-max-height)/2);


        filter: saturate(125%);
        -webkit-filter: saturate(125%);
        
    }

    /* Content */
    main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    main .content {
        width: calc(100% - 64px);
        padding: 0 32px;
        max-width: var(--container-max-width);
        
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    /* Portfolio Lists */
    #portfolio {
        width: 100%;
        padding-right: 32px;
        padding-inline-start: 0;
    }

    #portfolio li {
        width: calc(100% - 32px);
        max-width: var(--container-max-width);
        list-style: none;

        margin-left: 0;

        background-color: var(--secondary);
        padding: 8px 16px;
        margin-bottom: 8px;
        border-radius: 8px;

        display: flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: row;

        transition: var(--default-transition);
    }

    /* Disabled List */
    #portfolio li.disabled {
        background-color: #ececec;
        color: #b4b4b4;
        transform: scale(99%);
    }

    #portfolio li.disabled .icon, #portfolio li.disabled .arrow {
        opacity: 25%;
    }

    #portfolio li.disabled:hover {
        cursor: not-allowed;
        transform: scale(98%);
    }

    /* Section Titles */
    #portfolio li.section {
        background-color: transparent;
        font-weight: 600;
        color: #929191;
        padding: 0;
        padding-left: 8px;
        margin-top: 16px;
    }
    
    /* Assets */
    #portfolio .title { 
        font-weight: 600;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }

    #portfolio .icon {
        opacity: 75%;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        object-fit: contain;
    }

    #portfolio .details {
        width: calc(100% - 48px);
    }

    #portfolio .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 48px;
        height: 100%;
    }

    #portfolio p {
        margin: 0;
    }

    #portfolio .arrow .icon {
        width: 30px;
        height: 30px;
        margin-right: 0;
        /* transition: var(--default-transition); */
        /* transform: translateX(16px); */
        /* opacity: 0; */
    }

    #portfolio a {
        text-decoration: none;
        color: #141414;
    }

    #portfolio li:hover {
        box-shadow: 0 0 16px #14141410;
        transform: scale(101%);
        cursor: pointer;
    }

    #portfolio li.section:hover {
        box-shadow: none;
        cursor: text;
        transform: scale(100%);
    }
/* 
    #portfolio li:hover + #portfolio li .arrow .icon {
        transform: translateX(0);
        opacity: 1;
    } */

/* Loading Screen */
#LoadingScreen {
    /* display: none; */
    background-color: #ffffff;

    width: 100vw;
    height: 100vh;
    z-index: 99999;
    top: 0;
    left: 0;
    position: fixed;
    transition: 400ms ease-out;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#LoadingScreen .loadingBlock {
    background-color: #141414;
    width: 48px;
    height: 48px;
    border-radius: 8px;

    animation-iteration-count: infinite;
    animation: 800ms ease-out 0s infinite loading-block;
}

#LoadingScreen p.loadingMsg {
    font-weight: 600;
    opacity: 0%;
    animation: 5s ease-out infinite loading-msg;
    animation-delay: 5s;
}

@keyframes loading-block {
    0% {
        border-radius: 8px;
        transform: rotate(0)
    }
    50% {
        border-radius: 24px;
        transform: rotate(45deg);
    }
    100% {
        border-radius: 8px;
        transform: rotate(90deg);
    }
}

@keyframes loading-msg {
    0% {
        opacity: 0%;
        height: 0px;
    }
    10% {
        opacity: 100%;
        height: auto;
    }
    90% {
        opacity: 100%;
        height: auto;
    }
    100% {
        opacity: 0%;
        height: 0px;
    }
}

#LoadingScreen.complete {
    opacity: 0;
}

#LoadingScreen.disabled {
    display: none;
}


/* Footer */
footer {
    width: calc(100vw - 64px - 48px);
    padding: 32px 48px;
    padding-bottom: 128px;
    background-color: var(--secondary);
    color: #252525;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer .footer-contents {
    max-width: var(--container-max-width);
    width: 100%;
}

footer p {
    font-weight: 500;
    margin-bottom: -8px;
}

footer img {
    filter: brightness(10%);
}

footer li {
    list-style: none;
    margin-left: -38px;
}

footer a {
    color: #252525;
}

footer button {
    font-weight: 500;
    font-family: var(--fonts); 
    border-radius: 16px;
    border: 2px #252525 solid;
    padding: 4px 16px;
    background-color: transparent;
    margin-top: 16px;

    transition: 250ms ease-out;
}

footer button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #252525;
}

/* Other & Extras */
.hidden {
    display: none;
}

.platformer {
    padding-top: 96px;
    padding-left: 32px;
    padding-right: 32px;

    width: calc(100% - 64px)
    height: auto;
    /* max-width: var(--container-max-width); */

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    text-align: center;

    position: relative;

    margin-bottom: 64px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

    .platformer h1 {
        color: #252525;
    }

    .platformer canvas {
        max-height: 80vh;
    }

/* Responsive */
@media only screen and (max-width: 700px) {

    /* Mobile Navigation */
    nav {
        display: none;
    }

    .touch-nav-bar {
        display: flex !important;
    }

    .nav-menu {
        display: flex;
    }
        
    .fs-details h1 {
        font-size: 6rem;
        line-height: 5rem;
    }

    /* Interest Block */
    #Interests ul {
        grid: auto-flow / 2fr;
    }

    #Location ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }


    #Location .map {
        height: 100%;
    }

    /* #Interests ul li:last-of-type { */
        /* display: none; */
    /* } */

    #swap-css {
        display: none;
    }

    .on-screen-nav #swap-css {
        display: flex !important;
    }

}

@media only screen and (min-width: 700px) {
    .on-screen-nav.active {
        display: none;
    }
}

/* Hidden objects (from default structure) */
#default-header-title, .sidebar {
    display: none;
}